<!DOCTYPE html>
<html>
  <head>
    <title>Gyakorlat</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- js sor ide ha kell-->
  </head>

  <body>
    <div id="page">
        <div id="header">
          <h1>Subject Administration!</h1>
        </div>
        <div id="main">
          <div id="menu">
            <% if logged_in? %>
              <%= render 'layouts/user' %>
            <% end %>
          </div>
          <div id="content">
              <%= yield %>
            </div>
        </div>
      <div id="footer"><p>Made by Varga János, Neptun: <strong>BJCZQ9</strong></p></div>
    </div>
  </body>
</html>
